<form action="/restaurants" method="POST">
  <input type="text" placeholder="請輸入餐廳名稱" name="name" style="display:block" required="required" class="my-2">
  <input type="text" placeholder="請輸入餐廳種類" name="category" style="display:block" required="required" class="my-2">
  <input type="text" placeholder="請輸入餐廳地址" name="location" style="display:block" required="required" class="my-2">
  <input type="text" placeholder="請輸入餐廳電話" name="phone" style="display:block" required="required" class="my-2">
  <input type="text" placeholder="請輸入餐廳評等" name="rating" style="display:block" required="required" class="my-2">
  <input type="text" placeholder="請輸入餐廳描述" name="description" style="display:block" required="required" class="my-2">
  <button type="submit" class="btn btn-warning my-1">Create</button>
</form>