<form action="/restaurants" method="POST">
  <div class="input-group input-group-sm mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">餐廳名稱</span>
    </div>
    <input type="text" class="form-control" name="name" required>
  </div>
  <div class="input-group input-group-sm mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">餐廳種類</span>
    </div>
    <input type="text" class="form-control" name="category" required>
  </div>
  <div class="input-group input-group-sm mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">餐廳地址</span>
    </div>
    <input type="text" class="form-control" name="location" required>
  </div>
  <div class="input-group input-group-sm mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">餐廳電話</span>
    </div>
    <input type="tel" class="form-control" name="phone" required>
  </div>
  <div class="input-group input-group-sm mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">餐廳評等</span>
    </div>
    <input type="number" class="form-control" name="rating" step="0.1" min="0" max="5" required>
  </div>
  <div class="input-group input-group-sm mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">餐廳描述</span>
    </div>
    <input type="text" class="form-control" name="description" required>
  </div>
  <div class="input-group input-group-sm mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Google Map</span>
    </div>
    <input type="url" class="form-control" name="google_map" required>
  </div>
  <div class="input-group input-group-sm mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">餐廳圖片</span>
    </div>
    <input type="url" class=" form-control" name="image" required>
  </div>
  <button type="submit" class="btn btn-warning my-1 mx-1" style="width: 100px;">Create</button>
</form>