<form action="/restaurants" method="POST">
  <input type="text" placeholder="請輸入餐廳名稱" name="name">
  <input type="text" placeholder="請輸入餐廳種類" name="category">
  <input type="text" placeholder="請輸入餐廳名稱" name="name">
  <input type="text" placeholder="請輸入餐廳名稱" name="name">
  <input type="text" placeholder="請輸入餐廳名稱" name="name">
  <input type="text" placeholder="請輸入餐廳名稱" name="name">
  <input type="text" placeholder="請輸入餐廳名稱" name="name">
</form>